<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contact</title>
</head>
<body>
    <form action="{% url 'update_contact' contact.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name" value="{{ contact.name }}" required>
        <input type="email" name="email" placeholder="Email" value="{{ contact.email }}">
        <input type="text" name="phone" placeholder="Phone" value="{{ contact.phone }}">
        <textarea name="address" placeholder="Address">{{ contact.address }}</textarea>
        <label>
            <input type="checkbox" name="is_favourite" {% if contact.is_favourite %}checked{% endif %}>
            Is Favourite
        </label>
        <button type="submit">Update Contact</button>
    </form>
    <h1>All contacts</h1>
    {% for contact in  contacts %}
        <p>{{ contact.name }} - {{ contact.email }} - {{ contact.phone }} - {{ contact.address }} - {{ contact.is_favourite }}</p>
    {% endfor %}
</body>
</html>